mat-progress-bar {
  width: 100%;
}

mat-progress-bar-button {
  width: 70%;
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mat-progress-bar-title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.mat-progress-bar-name {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  display: inline-block;
}

.mat-progress-bar-progress-bar {
  flex-grow: 1;
  min-width: 1000px;
}

.mat-progress-bar-progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress-bar-child {
  display: flex;
  justify-content: flex-start;
  width: 70%;
}
.progress-bar-grandchild {
  display: flex;
  justify-content: flex-end;
}
