<div class="dashboard-container">
  <mat-card *ngFor="let eachParent of parentList" class="parent-card">
    <mat-expansion-panel
      [expanded]="eachParent.expanded"
      (click)="togglePanel(eachParent, $event)"
      [disabled]="eachParent.childList?.length === 0"
      class="parent-panel"
    >
      <mat-expansion-panel-header class="parent-header">
        <mat-panel-title class="mat-progress-bar-title-container">
          <span
            matTooltip="{{ eachParent.name }}"
            class="mat-progress-bar-name"
            >{{ eachParent.name }}</span
          >
          <div class="progress-wrapper">
            <mat-progress-bar
              class="mat-progress-bar-progress-bar"
              mode="determinate"
              [value]="eachParent.score"
            ></mat-progress-bar>
            <span class="score-label">{{ eachParent.score }}%</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        *ngFor="let eachChild of eachParent.childList"
        class="mat-progress-bar-progress-container"
      >
        <div class="progress-bar-child">
          <button
            mat-button
            (click)="onEachChildClick(eachParent.Id, eachChild.Id, $event)"
            class="progress-button"
          >
            <div class="button-content">
              <span
                matTooltip="{{ eachChild.name }}"
                class="mat-progress-bar-name"
              >
                {{ eachChild.name }}
              </span>
              <div class="progress-wrapper">
                <mat-progress-bar
                  class="mat-progress-bar-progress-bar"
                  mode="determinate"
                  [value]="eachChild.score"
                >
                </mat-progress-bar>
                <span class="score-label">{{ eachChild.score }}%</span>
              </div>
            </div>
          </button>
        </div>
        <div *ngIf="eachChild.childList" class="grandchild-container">
          <div
            *ngFor="let eachGrandChild of eachChild.childList"
            class="progress-bar-grandchild"
          >
            <button
              mat-button
              (click)="
                onEachGrandChildClick(
                  eachParent.Id,
                  eachChild.Id,
                  eachGrandChild.Id,
                  $event
                )
              "
              class="progress-button grandchild-button"
            >
              <div class="button-content">
                <span
                  matTooltip="{{ eachGrandChild.name }}"
                  class="mat-progress-bar-name"
                >
                  {{ eachGrandChild.name }}
                </span>
                <div class="progress-wrapper">
                  <mat-progress-bar
                    class="mat-progress-bar-progress-bar"
                    mode="determinate"
                    [value]="eachGrandChild.score"
                  >
                  </mat-progress-bar>
                  <span class="score-label">{{ eachGrandChild.score }}%</span>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
</div>




<!-- <div class="dashboard-container">
  <mat-card *ngFor="let eachParent of parentList">
    <mat-expansion-panel
      [expanded]="eachParent.expanded"
      (click)="togglePanel(eachParent, $event)"
      [disabled]="eachParent.childList?.length === 0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="mat-progress-bar-title-container">
          <span
            matTooltip="{{ eachParent.name }}"
            class="mat-progress-bar-name"
            >{{ eachParent.name }}</span
          >
          <mat-progress-bar
            class="mat-progress-bar-progress-bar"
            mode="determinate"
            [value]="eachParent.score"
          ></mat-progress-bar>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        *ngFor="let eachChild of eachParent.childList"
        class="mat-progress-bar-progress-container"
      >
        <div class="progress-bar-child">
          <button
            mat-button
            (click)="onEachChildClick(eachParent.Id, eachChild.Id, $event)"
          >
            <span
              matTooltip="{{ eachChild.name }}"
              class="mat-progress-bar-name"
            >
              {{ eachChild.name }}
            </span>
            <mat-progress-bar
              class="mat-progress-bar-progress-bar"
              mode="determinate"
              [value]="eachChild.score"
            >
            </mat-progress-bar>
          </button>
        </div>
        <div *ngIf="eachChild.childList">
          <div
            *ngFor="let eachGrandChild of eachChild.childList"
            class="progress-bar-grandchild"
          >
            <button
              mat-button
              (click)="
                onEachGrandChildClick(
                  eachParent.Id,
                  eachChild.Id,
                  eachGrandChild.Id,
                  $event
                )
              "
            >
              <span
                matTooltip="{{ eachGrandChild.name }}"
                class="mat-progress-bar-name"
              >
                {{ eachGrandChild.name }}
              </span>
              <mat-progress-bar
                class="mat-progress-bar-progress-bar"
                mode="determinate"
                [value]="eachGrandChild.score"
              >
              </mat-progress-bar>
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
</div> -->
