<mat-card *ngIf="!isFormVisible">
  <mat-card-title>
    <span>Lesson Section Details</span>
    <button
      mat-icon-button
      color="primary"
      class="add-btn"
      (click)="toggleForm()"
    >
      <mat-icon>{{ isFormVisible ? "edit" : "add" }}</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 detail-table">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="Explanation">
        <th mat-header-cell *matHeaderCellDef>Explanation</th>
        <td mat-cell *matCellDef="let element">
          <span class="truncate-text">{{ element.explanation }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Quiz">
        <th mat-header-cell *matHeaderCellDef>Quiz</th>
        <td mat-cell *matCellDef="let element">
          <span class="truncate-text">{{ element.quiz }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="FillBlanks">
        <th mat-header-cell *matHeaderCellDef>FillBlanks</th>
        <td mat-cell *matCellDef="let element">
          <span class="truncate-text">{{ element.fillblanks }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="TrueFalse">
        <th mat-header-cell *matHeaderCellDef>TrueFalse</th>
        <td mat-cell *matCellDef="let element">
          <span class="truncate-text">{{ element.truefalse }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button class="edit"
            mat-icon-button
            color="primary"
            (click)="editLessonSection(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete"
            mat-icon-button
            color="warn"
            (click)="deleteLessonSection(element.Id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isFormVisible">
  <mat-card-title>
    <mat-icon>{{ isEditMode ? "edit" : "add" }}</mat-icon>
    {{ isEditMode ? "Update Lesson Section" : "Add Lesson Section" }}
  </mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="lessonSectionForm"
      (ngSubmit)="onSubmit()"
      class="form-container"
    >
      <div class="lesson-section-name">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngFor="let error of getErrorMessages('name')">{{
            error
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="lesson-section-name">
        <mat-form-field appearance="fill">
          <mat-label>Explanation</mat-label>
          <textarea matInput formControlName="explanation" rows="10"></textarea>
          <mat-error *ngFor="let error of getErrorMessages('explanation')">{{
            error
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="lesson-section-name">
        <mat-form-field appearance="fill">
          <mat-label>Quiz</mat-label>
          <textarea matInput formControlName="quiz" rows="10"></textarea>
          <mat-error *ngFor="let error of getErrorMessages('quiz')">{{
            error
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="lesson-section-name">
        <mat-form-field appearance="fill">
          <mat-label>FillBlanks</mat-label>
          <textarea matInput formControlName="fillblanks" rows="10"></textarea>
          <mat-error *ngFor="let error of getErrorMessages('fillblanks')">{{
            error
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="lesson-section-name">
        <mat-form-field appearance="fill">
          <mat-label>TrueFalse</mat-label>
          <textarea matInput formControlName="truefalse" rows="10"></textarea>
          <mat-error *ngFor="let error of getErrorMessages('truefalse')">{{
            error
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-actions">
        <button class="edit-save"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="lessonSectionForm.invalid"
        >
          {{ isEditMode ? "Update" : "Add" }}
        </button>
        <button mat-button type="button" (click)="toggleForm()" class="cancel">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
