<div class="dashboard-container">
  <button (click)="logout()" class="logout-button">
    <span class="logout-icon">←</span> Logout
  </button>
  <div class="dashboard-header">
    <h1>Teacher Dashboard</h1>
  </div>

  <div class="overall-performance">
    <mat-card class="overall-performance-card">
      <mat-card-header>
        <mat-card-title>Overall Performance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <plotly-plot
          *ngIf="perfOverallPlotter"
          [data]="perfOverallPlotter.barData"
          [layout]="perfOverallPlotter.barLayout"
        ></plotly-plot>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="progress-cards">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Progress by Semester</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-progress-bar
          [parentList]="perfPerStandard"
          (onParentClick)="clickByStandard($event)"
        ></app-progress-bar>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Progress by Subject</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-progress-bar
          [parentList]="perfPerSubject"
          (onParentClick)="clickBySubject($event)"
        ></app-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <div class="dashboard-container">
  <div class="overall-performance">
    <mat-card class="overall-performance-card">
      <h2>Overall Performance</h2>
      <plotly-plot
        *ngIf="perfOverallPlotter"
        [data]="perfOverallPlotter.barData"
        [layout]="perfOverallPlotter.barLayout"
      ></plotly-plot>
    </mat-card>
  </div>

  <mat-card class="dashboard-card">
    <h2>Progress by Semister</h2>
    <app-progress-bar
      [parentList]="perfPerStandard"
      (onParentClick)="clickByStandard($event)"
    ></app-progress-bar>
  </mat-card>

  <mat-card class="dashboard-card">
    <h2>Progress by Subject</h2>
    <app-progress-bar
      [parentList]="perfPerSubject"
      (onParentClick)="clickBySubject($event)"
    ></app-progress-bar>
  </mat-card>
</div> -->
