<div class="dashboard-container">
  <div class="overall-performance">
    <mat-card class="overall-performance-card">
      <h2>Overall Performance</h2>
      <plotly-plot
        *ngIf="perfOverallPlotter"
        [data]="perfOverallPlotter.barData"
        [layout]="perfOverallPlotter.barLayout"
      ></plotly-plot>
    </mat-card>
  </div>

  <mat-card class="dashboard-card">
    <h2>Progress by Standard</h2>
    <app-progress-bar
      [parentList]="perfPerStandard"
      (onParentClick)="clickByStandard($event)"
    ></app-progress-bar>
  </mat-card>

  <mat-card class="dashboard-card">
    <h2>Progress by Subject</h2>
    <app-progress-bar
      [parentList]="perfPerSubject"
      (onParentClick)="clickBySubject($event)"
    ></app-progress-bar>
  </mat-card>
</div>
