<mat-card>
    <mat-card-title>
      <span>Content Details</span>
      <button mat-icon-button color="primary" class="add-btn" (click)="toggleForm()">
        <mat-icon>{{ isFormVisible ? 'edit' : 'add' }}</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        
        <ng-container matColumnDef="Quiz">
          <th mat-header-cell *matHeaderCellDef>Quiz</th>
          <td mat-cell *matCellDef="let element">{{ element.Quiz }}</td>
        </ng-container>

        <ng-container matColumnDef="FillBlanks">
          <th mat-header-cell *matHeaderCellDef>FillBlanks</th>
          <td mat-cell *matCellDef="let element">{{ element.FillBlanks }}</td>
        </ng-container>

        <ng-container matColumnDef="TrueFalse">
          <th mat-header-cell *matHeaderCellDef>TrueFalse</th>
          <td mat-cell *matCellDef="let element">{{ element.TrueFalse }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editContent(element)" matTooltip="Edit Content" matTooltipPosition="right">
              <mat-icon>edit</mat-icon>
            </button>
        
            <button mat-icon-button color="warn" (click)="deleteContent(element.Id)" matTooltip="Delete Content" matTooltipPosition="right">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  
  <mat-card *ngIf="isFormVisible">
    <mat-card-title>
      <mat-icon>{{ isEditMode ? 'edit' : 'add' }}</mat-icon>
      {{ isEditMode ? 'Update Content' : 'Add Content' }}
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="contentForm" (ngSubmit)="onSubmit()" class="form-container">

        
        <mat-form-field appearance="fill">
          <mat-label>Quiz</mat-label>
          <textarea matInput formControlName="Quiz" rows="4"></textarea>
          <mat-error *ngFor="let error of getErrorMessages('Quiz')">{{ error }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>FillBlanks</mat-label>
          <textarea matInput formControlName="FillBlanks" rows="4"></textarea>
          <mat-error *ngFor="let error of getErrorMessages('FillBlanks')">{{ error }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>TrueFalse</mat-label>
          <textarea matInput formControlName="TrueFalse" rows="4"></textarea>
          <mat-error *ngFor="let error of getErrorMessages('TrueFalse')">{{ error }}</mat-error>
        </mat-form-field>
        

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="contentForm.invalid">
            {{ isEditMode ? 'Update' : 'Add' }}
          </button>
          <button mat-button type="button" (click)="toggleForm()">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>