<mat-card>
  <mat-card-title>
    <span>SchoolStandard Details</span>
    <button
      mat-icon-button
      color="primary"
      class="add-btn"
      (click)="toggleForm()"
    >
      <mat-icon>{{ isFormVisible ? "edit" : "add" }}</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="warn"
            (click)="deleteSchoolStandard(element.Id)"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <button
            mat-icon-button
            color="primary"
            (click)="onStudents(element.Id, element.standard)"
          >
            <mat-icon>list_alt</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isFormVisible">
  <mat-card-title>
    <mat-icon>{{ "add" }}</mat-icon>
    {{ "Add SchoolStandard" }}
  </mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="schoolstandardForm"
      (ngSubmit)="onSubmit()"
      class="form-container"
    >
      <!-- Dropdown for selecting standard -->
      <mat-form-field appearance="fill">
        <mat-label>Select Standard</mat-label>
        <mat-select formControlName="standard" required>
          <mat-option
            *ngFor="let standard of standardList"
            [value]="standard.Id"
          >
            {{ standard.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="getErrorMessages('standard').length > 0">
          {{ getErrorMessages("standard")[0] }}
        </mat-error>
      </mat-form-field>

      <!-- Other form fields -->
      <div class="form-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="schoolstandardForm.invalid"
        >
          {{ "Add" }}
        </button>
        <button mat-button type="button" (click)="toggleForm()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
