<div class="dashboard-container">
  <div class="overall-performance">
    <mat-card class="overall-performance-card">
      <h2>Overall Performance</h2>
      <plotly-plot
        *ngIf="perfOverallPlotter"
        [data]="perfOverallPlotter.barData"
        [layout]="perfOverallPlotter.barLayout"
      ></plotly-plot>
    </mat-card>
  </div>

  <mat-card class="dashboard-card">
    <h2>Completed Lessons</h2>
    <app-progress-bar
      [parentList]="completedLessonData"
      (onChildClick)="clickByLesson($event)"
    ></app-progress-bar>
  </mat-card>

  <mat-card class="dashboard-card">
    <h2>Next Lessons</h2>
    <app-progress-bar
      [parentList]="nextLessonData"
      (onChildClick)="clickByLesson($event)"
    ></app-progress-bar>
  </mat-card>

  <mat-card class="dashboard-card">
    <h2>Pending Lessons</h2>
    <app-progress-bar
      [parentList]="pendingLessonData"
      (onChildClick)="clickByLesson($event)"
    ></app-progress-bar>
  </mat-card>

  <!--
  <mat-card class="dashboard-card">
    <h2>Goals</h2>
    <ul>
      <li *ngFor="let goal of goals">{{ goal }}</li>
    </ul>
  </mat-card>

  <mat-card class="dashboard-card">
    <h2>Recent Activity</h2>
    <ul>
      <li *ngFor="let activity of activityFeed">{{ activity }}</li>
    </ul>
  </mat-card>
  -->
</div>
