<mat-card>
  <mat-card-title>
    <span>Lesson Details</span>
    <button
      mat-icon-button
      color="primary"
      class="add-btn"
      (click)="toggleForm()"
    >
      <mat-icon>{{ isFormVisible ? "edit" : "add" }}</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
      </ng-container>

      <ng-container matColumnDef="Quiz">
        <th mat-header-cell *matHeaderCellDef>Quiz</th>
        <td mat-cell *matCellDef="let element">{{ element.Quiz }}</td>
      </ng-container>

      <ng-container matColumnDef="FillBlanks">
        <th mat-header-cell *matHeaderCellDef>FillBlanks</th>
        <td mat-cell *matCellDef="let element">{{ element.FillBlanks }}</td>
      </ng-container>

      <ng-container matColumnDef="TrueFalse">
        <th mat-header-cell *matHeaderCellDef>TrueFalse</th>
        <td mat-cell *matCellDef="let element">{{ element.TrueFalse }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editLesson(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteLesson(element.Id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isFormVisible">
  <mat-card-title>
    <mat-icon>{{ isEditMode ? "edit" : "add" }}</mat-icon>
    {{ isEditMode ? "Update Lesson" : "Add Lesson" }}
  </mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="lessonForm"
      (ngSubmit)="onSubmit()"
      class="form-container"
    >
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="Name" />
        <mat-error *ngFor="let error of getErrorMessages('Name')">{{
          error
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Quiz</mat-label>
        <input matInput formControlName="Quiz" />
        <mat-error *ngFor="let error of getErrorMessages('Quiz')">{{
          error
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>FillBlanks</mat-label>
        <input matInput formControlName="FillBlanks" />
        <mat-error *ngFor="let error of getErrorMessages('FillBlanks')">{{
          error
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>TrueFalse</mat-label>
        <input matInput formControlName="TrueFalse" />
        <mat-error *ngFor="let error of getErrorMessages('TrueFalse')">{{
          error
        }}</mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="lessonForm.invalid"
        >
          {{ isEditMode ? "Update" : "Add" }}
        </button>
        <button mat-button type="button" (click)="toggleForm()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
